<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="con" value="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\shrey\OneDrive\Desktop\project\WebSite4\App_Data\Database1.mdf;Integrated Security=True;User Instance=True"/>
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>

